@import "../../../../styles.scss";

$shr-deep-gray-blue: (
  background-color: #293541,
  background-color-hover: #47515c,
  background-color-active: #3b4651,
  color: #9ea5ac,
  color-hover: #efeff1,
  color-active: #d4d4d6,
  color-disabled: #e5e5e5,
);

$shr-deep-grayer-blue: (
  background-color: #343A40,
  background-color-hover: #4B535C,
  background-color-active:#434A52,
  color: #9ea5ac,
  color-hover: #efeff1,
  color-active: #d4d4d6,
  color-disabled: #e5e5e5,
);

$shr-deep-gray-green: (
  background-color: #294135,
  background-color-hover: #475c51,
  background-color-active: #3b5146,
  color: #9eaca5,
  color-hover: #eff1ef,
  color-active: #d4d6d4,
);

$shr-moderate-gray: (
  background-color: #ecedf3,
  background-color-hover: #f5f6fb,
  background-color-active: #dcdde3,
  color: #525252,
  color-hover: #828282,
  color-active: #383d49,
);

.content-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 1fr 10fr;
  grid-template-rows: 1fr 11fr 5rem;
  grid-template-areas:
    "logo title-bar"
    "sidebar main-panel"
    "playback-control-bar playback-control-bar";
  justify-items: stretch;
  align-items: stretch;
}

.area__logo {
  grid-area: logo;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #e57e31;
  color: white;
  //background-color: map_get($shr-deep-grayer-blue, background-color);
  //color: map_get($shr-deep-grayer-blue, color);
  z-index: 100;
}

.area__title-bar {
  grid-area: title-bar;
  display: flex;
  box-sizing: border-box;
  width: 100%;
  min-height: 4.5rem;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  padding: 0.2rem 2rem;
  //background-color: map_get($shr-moderate-gray, background-color);
  background-color: white;
  color: map_get($shr-moderate-gray, color);
  //box-shadow: 0 12px 10px -10px rgba(0, 0, 0, 0.24), 0 6px 6px -6px rgba(0, 0, 0, 0.30); // Drop a two-layered shadow at the bottom
}

.area__sidebar {
  grid-area: sidebar;
  display: flex;
  flex-direction: column;
  min-width: 16rem;
  background-color: map_get($shr-deep-grayer-blue, background-color);
  //background-color: map_get($shr-moderate-gray, background-color);
  color: map_get($shr-deep-grayer-blue, color);
  //color: map_get($shr-moderate-gray, color);
  //box-shadow: 2px 0 10px rgba(0, 0, 0, 0.24), 1px 0 6px rgba(0, 0, 0, 0.30); // Drop a two-layered shadow on the right
}

.area__main-panel {
  grid-area: main-panel;
  min-height: 100%;
  max-height: 100%;
  display: flex;
  flex-direction: column;
}

.area__playback-control-bar {
  grid-area: playback-control-bar;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  height: 100%;
  background-color: map_get($shr-deep-gray-blue, background-color);
  color: map_get($shr-deep-gray-blue, color);
}

.flex-grow {
  flex-grow: 1;
}

.sidebar__item {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  background-color: map_get($shr-deep-grayer-blue, background-color);
  //background-color: map_get($shr-moderate-gray, background-color);
  color: map_get($shr-deep-grayer-blue, color);
  //color: map_get($shr-moderate-gray, color);
  height: 3.5rem;
}

.sidebar__item:hover {
  background-color: map_get($shr-deep-grayer-blue, background-color-hover);
  color: map_get($shr-deep-grayer-blue, color-hover);
  //background-color: map_get($shr-moderate-gray, background-color-hover);
  //color: map_get($shr-moderate-gray, color-hover);
}

.sidebar__item:active {
  background-color: map_get($shr-deep-grayer-blue, background-color-active);
  color: map_get($shr-deep-grayer-blue, color-active);
  //background-color: map_get($shr-moderate-gray, background-color-active);
  //color: map_get($shr-moderate-gray, color-active);
}

.sidebar__item__icon {
  margin-left: 1.5rem;
  margin-right: 1rem;
  font-size: 1.3rem;
}

.title-bar__text {
  font-size: 1.5rem;
  color: map_get($shr-moderate-gray, color);
}

.title-bar__btn-container {
  display: flex;
}

.title-bar__btn {
  color: map_get($shr-moderate-gray, color);
  font-size: 1.3rem;
}
.title-bar__btn:hover {
  color: map_get($shr-moderate-gray, color-hover);
}
.title-bar__btn:active {
  color: map_get($shr-moderate-gray, color-active);
}

$toolbar-btn-size: 2.6rem;
$toolbar-btn-icon-size: 1.3rem;

.main-panel__editor-toolbar-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  height: $toolbar-btn-size;
  background-color: map_get($shr-moderate-gray, background-color);
  color: map_get($shr-moderate-gray, color);
  padding: 0 1.5rem;
  box-sizing: border-box;
  //box-shadow: 0 12px 10px -10px rgba(0, 0, 0, 0.24), 0 6px 6px -6px rgba(0, 0, 0, 0.30); // Drop a two-layered shadow at the bottom
}

.main-panel__editor-content-container {
  background-color: #f2f3f8;
  height: 100%;
  z-index: -1;
}

.main-panel__editor-toolbar__btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: $toolbar-btn-size;
  height: $toolbar-btn-size;

  i {
    font-size: $toolbar-btn-icon-size;
  }
}
.main-panel__editor-toolbar__btn:hover {
  background-color: map_get($shr-moderate-gray, background-color-hover);
  color: map_get($shr-moderate-gray, color-hover);
}
.main-panel__editor-toolbar__btn:active {
  background-color: map_get($shr-moderate-gray, background-color-active);
  color: map_get($shr-moderate-gray, color-active);
}

.main-panel__editor-toolbar__vertical-separator {
  margin: 0 0.4rem;
  height: 0.6 * $toolbar-btn-size;
  border-right: 1px solid rgba(map_get($shr-moderate-gray, color), 0.4);
}

.select-container {
  // common
  display: flex;
  flex-direction: row;

  // custom
  $arrow-container-size: 30px; // depended by the height actually
  $arrow-size-ratio: 27/96; // width of triangle / width of container
  width: 150px;
  height: $arrow-container-size;

  select {
    appearance: none;
    width: 100%;
    height: 100%;
    margin: 0 (-$arrow-container-size) 0 0;
    background-color: rgba(white, 0.5);
    outline: none;
    border: 1px solid map_get($shr-moderate-gray, color);
    color: map_get($shr-moderate-gray, color);
  }
  select:hover {
    background-color: rgba(white, 0.9);
  }

  .select-arrow-container {
    position: relative;
    top: 0;
    right: 0;
    background-color: map_get($shr-moderate-gray, color);
    pointer-events: none;
    width: $arrow-container-size;
    height: $arrow-container-size;

    .select-arrow {
      width: 0;
      height: 0;
      // Set the borders (0.866 * (left + right) = top) to make it an equilateral triangle downward
      border-left: $arrow-size-ratio * $arrow-container-size / 1.732 solid transparent;
      border-right: $arrow-size-ratio * $arrow-container-size / 1.732 solid transparent;
      border-top: $arrow-size-ratio * $arrow-container-size solid white;
      // Do the math to make it in the center
      position: relative;
      left: (0.5 - 0.5 * $arrow-size-ratio) * $arrow-container-size;
      top: (0.5 + 0.5 * 0.866 * $arrow-size-ratio) * $arrow-container-size;
    }
  }
}

.main-panel__editor-toolbar__language-select {
  // will be global
  font-family: 'Segoe UI';
}


.main-panel__text-display-container {
  width: 100%;
  height: 100%;
  min-height: 100%;
  max-height: 100%;
  box-sizing: border-box;
  padding: 0.5rem 2rem;
  overflow: auto;
}

.main-panel__text-scroller {
  width: 100%;
  word-break: break-word; // For WebKit based browsers
  color: map_get($shr-moderate-gray, color);
}

.playback-control-bar__cover-container {
}

.playback-control-bar__btn-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 0 2rem;
}

.playback-control-bar__middle-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  flex-grow: 1;
}
.playback-control-bar__middle-container__first-row {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  margin: 6px 0;
  width: 100%;
}
.playback-control-bar__middle-container__info-container {
  font-size: 0.75rem;
}
.playback-control-bar__middle-container__position-container {
  font-size: 0.75rem;
}
.playback-control-bar__middle-container__position-slider-container {
  margin: 2px 0;
  width: 100%;
}

.playback-control-bar__btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 2.3rem;
  height: 2.3rem;
  margin: 0 0.5rem;
  background-color: map_get($shr-deep-gray-blue, background-color);
  color: map_get($shr-deep-gray-blue, color);
  border: 0 solid map_get($shr-deep-gray-blue, color);
}
.playback-control-bar__btn:hover {
  background-color: map_get($shr-deep-gray-blue, background-color-hover);
  color: map_get($shr-deep-gray-blue, color-hover);
  border-color: map_get($shr-deep-gray-blue, color-hover);
}
.playback-control-bar__btn:active {
  background-color: map_get($shr-deep-gray-blue, background-color-active);
  color: map_get($shr-deep-gray-blue, color-active);
  border-color: map_get($shr-deep-gray-blue, color-active);
}

.playback-control-bar__btn__large {
  width: 2.6rem;
  height: 2.6rem;
  font-size: 125%;
}

.playback-control-bar__btn__round {
  border-radius: 50%;
  border-width: 2px;
}

.playback-control-bar__position-slider {
}

input[type=range] {
  -webkit-appearance: none;
  -moz-appearance: none;
  width: 100%;
  background: transparent;
}
input[type=range]:focus {
  outline: none;
}
input[type=range]::-webkit-slider-runnable-track {
  background: map_get($shr-deep-gray-blue, color);
  height: 2px;
}
input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 14px;
  height: 14px;
  background: map_get($shr-deep-gray-blue, color);
}
input[type=range]::-webkit-slider-thumb:hover {
  background: map_get($shr-deep-gray-blue, color-hover);
}
input[type=range]::-webkit-slider-thumb:active {
  background: map_get($shr-deep-gray-blue, color-active);
}
input[type=range]::-moz-range-track {
  background: map_get($shr-deep-gray-blue, color);
  height: 2px;
}
input[type=range]::-moz-range-thumb {
  -moz-appearance: none;
  width: 14px;
  height: 14px;
  border: 0;
  background: map_get($shr-deep-gray-blue, color);
}
input[type=range]::-moz-range-thumb:hover {
  background: map_get($shr-deep-gray-blue, color-hover);
}
input[type=range]::-moz-range-thumb:active {
  background: map_get($shr-deep-gray-blue, color-active);
}
