<div class="container">
  <div *ngIf="marginTop"
       [ngClass]="'masked_margin-' + backgroundTheme"
       [ngStyle]="{ 'width': '100%',
                    'height': marginTop }"></div>
  <div class="component-row" #componentRow>
    <div *ngIf="marginLeft"
         [ngClass]="'masked_margin-' + backgroundTheme"
         [ngStyle]="{ 'width': marginLeft,
                      'height': getHeightOfBlock(componentRow) + 'px' }"></div>
    <input class="masked_component"
           [ngClass]="'masked_component-' + componentTheme"
           [ngStyle]="{ 'width': width,
                        'height': height,
                        'minWidth': minWidth,
                        'minHeight': minHeight }"
           [type]="type"
           [(ngModel)]="value" />
    <div *ngIf="marginRight"
         [ngClass]="'masked_margin-' + backgroundTheme"
         [ngStyle]="{ 'width': marginRight,
                      'height': getHeightOfBlock(componentRow) + 'px' }"></div>
  </div>
  <div *ngIf="marginBottom"
       [ngClass]="'masked_margin-' + backgroundTheme"
       [ngStyle]="{ 'width': '100%',
                    'height': marginBottom }"></div>
</div>
