@import "../masked-component.scss";

.content {
  display: inline-block;
}

.padding--top-bottom {
  // width: 100%;
  flex-grow: 1;
}

.padding--left-right {
  flex-grow: 1;
}

.transition-zone__bottom--moderate-dark {
  background: linear-gradient(to bottom, map_get($mask-moderate, background-color), map_get($mask-moderate, background-color) 5%, map_get($mask-dark, background-color) 100%);
}
