@import "../../../styles.scss";

.background-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -100;
}

.content-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 2fr 10fr;
  grid-template-rows: 1fr 11fr;
  grid-template-areas:
    "logo dynamic-bar"
    "sidebar main-panel";
  justify-items: stretch;
  align-items: stretch;
}

//:host ::ng-deep router-outlet + * {
//  display: flex;
//  width: 100%;
//  height: 100%;
//}

:host ::ng-deep app-settings-title-bar {
  height: 100%;
}

.decorator__border--right {
  border-right: map_get($border-light, border);
}

.decorator__border--bottom {
  border-bottom: map_get($border-light, border);
}

.area__logo {
  grid-area: logo;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: map_get($mask-moderate, background-color);
  color: map_get($mask-moderate, color);
}

.area__dynamic-bar {
  grid-area: dynamic-bar;
  display: flex;
  flex-direction: column;
}

.area__sidebar {
  grid-area: sidebar;
  min-width: 20rem;
}

.area__main-panel {
  grid-area: main-panel;
  min-height: 100%;
  max-height: 100%;
}
