<div>
  <!-- Full screened background -->
  <div class="background-container">
    <app-background-mask src="../../../assets/bg-stub/bg01.jpg"></app-background-mask>
  </div>
  <!-- Full screened content -->
  <div class="content-container">
    <!-- Logo -->
    <header class="area__logo decorator__border--right decorator__border--bottom">
      <span>Logo</span><!-- Sharics -->
    </header>
    <!-- Sidebar: Editor - normal; Settings - setting options -->
    <aside class="area__sidebar">
      <app-sidebar></app-sidebar>
    </aside>
    <!-- Dynamic bar: Button when not connected; Playback status bar when connected + in editor panel; Title in settings panel  -->
    <header class="area__dynamic-bar">
      <app-dynamic-bar></app-dynamic-bar>
    </header>
    <section class="area__main-panel">
      <app-editor></app-editor>
      <router-outlet></router-outlet>
    </section>
  </div>

</div>
