<div>
  <!-- Full screened content -->
  <div class="content-container">
    <!-- Logo -->
    <header class="area__logo">
      <span>Logo</span><!-- Sharics -->
    </header>
    <!-- Sidebar: Editor - normal; Settings - setting options -->
    <aside class="area__sidebar">
      <app-sidebar-normal></app-sidebar-normal>
      <!--<router-outlet name="sidebar"></router-outlet>-->
    </aside>
    <!-- Dynamic bar: Button when not connected; Playback status bar when connected + in editor panel; Title in settings panel  -->
    <header class="area__title-bar">
      <div class="title-bar__text">Editor</div>
      <div class="flex-grow"></div>
      <div class="title-bar__btn-container">
        <div class="title-bar__btn">
          <i class="anticon anticon-setting" [routerLink]="[{ outlets: { primary: ['/settings'], sidebar: ['/settings'] } }]"></i>
        </div>
      </div>
    </header>

    <section class="area__main-panel">
      <app-editor style="height: 100%"></app-editor>
      <!--<router-outlet></router-outlet>-->
    </section>

    <section class="area__playback-control-bar">
      <div class="playback-control-bar__cover-container">
        <app-adaptive-img src="../../../../assets/bg-stub/bg03.jpg" width="5rem" height="5rem"></app-adaptive-img>
      </div>
      <div class="playback-control-bar__btn-container">
        <button id="btn-previous-track" class="playback-control-bar__btn playback-control-bar__btn__round">
          <i class="anticon anticon-step-backward"></i>
        </button>
        <button id="btn-play-or-pause" class="playback-control-bar__btn playback-control-bar__btn__round playback-control-bar__btn__large">
          <i class="anticon anticon-caret-right"></i>
        </button>
        <button id="btn-next-track" class="playback-control-bar__btn playback-control-bar__btn__round">
          <i class="anticon anticon-step-forward"></i>
        </button>
      </div>
      <div class="playback-control-bar__middle-container">
        <div class="playback-control-bar__middle-container__first-row">
          <div class="playback-control-bar__middle-container__info-container">
            <span>Artist - Title</span>
          </div>
          <div class="flex-grow"></div>
          <div class="playback-control-bar__middle-container__position-container">
            <span>0:23 / 4:10</span>
          </div>
        </div>
        <div class="playback-control-bar__middle-container__position-slider-container">
          <input type="range" class="playback-control-bar__position-slider" />
        </div>
      </div>
      <div class="playback-control-bar__btn-container">
        <button id="btn-volume" class="playback-control-bar__btn playback-control-bar__btn__large">
          <i class="anticon anticon-sound"></i>
        </button>
      </div>
    </section>
  </div>

</div>
