<div>
  <!-- Full screened content -->
  <div class="content-container">
    <!-- Logo -->
    <header class="area__logo">
      <span>Logo</span><!-- Sharics -->
    </header>
    <!-- Sidebar: Editor - normal; Settings - setting options -->
    <aside class="area__sidebar">
      <!--<app-sidebar-normal></app-sidebar-normal>-->
      <router-outlet name="sidebar"></router-outlet>
    </aside>
    <!-- Title bar: Title of the page; Button "settings" available in editor page; Button "back" available in settings page -->
    <header class="area__title-bar">
      <app-title-bar></app-title-bar>
    </header>

    <section class="area__main-panel">
      <!--<app-editor style="height: 100%"></app-editor>-->
      <router-outlet></router-outlet>
    </section>

    <section class="area__playback-control-bar">
      <app-playback-control-bar></app-playback-control-bar>
    </section>
  </div>

</div>
