<div class="sidebar-item__container">
  <div class="sidebar-item decorator__border--right">
    <i class="anticon anticon-folder-open sidebar-item__icon"></i>
    <div translate>{{componentName}}.open</div>
  </div>
  <div class="sidebar-item decorator__border--right">
    <i class="anticon anticon-save sidebar-item__icon"></i>
    <div translate>{{componentName}}.save-as</div>
  </div>
  <div class="sidebar-space decorator__border--right decorator__border--bottom"></div>
  <div class="sidebar-item decorator__border--right" (click)="navToSettings()">
    <i class="anticon anticon-setting sidebar-item__icon"></i>
    <div translate>{{componentName}}.settings</div>
  </div>
</div>
