/* Global styles */

@import "./icons.scss";

html, body, input, button {
  margin: 0;
  padding: 0;
  font-size: 16px;
  font-family: 'Segoe UI', 'Microsoft YaHei UI', 'Microsoft YaHei';
}

// Remove dotted outlines around buttons in Firefox
button::-moz-focus-inner {
  border: 0;
}
